@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Neonderthaw&family=Quicksand:wght@300&family=Roboto&family=Square+Peg&display=swap');

	body{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
  		font-family: 'Quicksand', sans-serif;
  		background: linear-gradient(to right, #654ea3, #eaafc8);
  		color: white;
	}

	html{
		scroll-behavior: smooth;
	}

	::-webkit-scrollbar{
		width: 3px;

	} 

	::-webkit-scrollbar-track {
		background: linear-gradient(180deg, #c5c3c35c, #c5c3c39c);
		border-radius: 3em;
	}

	::-webkit-scrollbar-thumb{
		background: linear-gradient(to bottom, #12c2e9, #c471ed, #f64f59);
		border-radius: 3em;
	}

	header{
		height: 560px;
		margin-bottom: 200px;
	}

	a{
		text-decoration: none;
		color: whitesmoke;

	}

	a:hover{
		text-decoration: underline;
	}



	.text{
		margin-left: 130px;
		grid-area: text;
	}

	


	.menu{
		display: flex;
		width: 100%;
		height: 135px;
		justify-content: space-between;
		/*background: #000000b8;*/
		background: transparent;
	}


	.a-menu{
		font-size: 18px;
		margin: auto;
	}

	
	h1{
		font-size: 50px;
	}

	.img-grid2{
			width:200px; position: relative; left: -8.5%; top: 5%; margin-bottom: 20px;
	}



	.img-grid3{
		width: 250px; position: relative; left: -20.5%; top: 20px; margin-bottom: 45px;
	}

	.img-grid1{
		width: 235px; position: relative; left: -17%; top: -40px; margin-bottom: -50px;
	}

	.img-grid4{
		width: 265px; position: relative; left: -20%; top: -20px; margin-bottom: -30px;
	}

	.img-grid5{
		width: 180px; position: relative; left: -3%; top: 20px; margin-bottom: 50px;
	}



	.grid-text{
			font-size: 25px; font-weight:500; position: relative; left: 1.3em; top: -35px;
	}

	.grid-text-xiaomi{
		font-size: 25px; font-weight:500; position: relative; left: 1.9em; top: -35px;
	}


		.D-2{
			margin: auto;
			max-width: 90%;
			height: 900px;
			display: grid;
			grid-template-areas: 
			". . text text text . ."
			"p img1 img2 img3 img4 img5 h"
			"p img1 img2 img3 img4 img5 h"
			"p img1 img2 img3 img4 img5 h"
			"n n text2 text2 text2 y y"
			"m img6 img7 img8 img9 img10 j"
			"m img6 img7 img8 img9 img10 j"
			"m img6 img7 img8 img9 img10 j"
			;
			gap: 1px, 10px;
			overflow: hidden;


		}

		.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10{
			background: #32e11c;
			margin: auto;
			height:280px; 
			width: 175px;
			border-radius: 9px;
	        box-shadow: 0px 1px 3.55555px black;
	        background: transparent;
	        position: relative;
	        transition: transform 0.53;
		}


		.div-grid::before{
        font-size: 24px;
        color: white;
        content: "Ver";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right, #10d3ff9e, #06699973);
        transform: scale(0) ;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 11px;
        z-index: 0;
       }

		.div-grid:hover::before{
        transform: scale(1);
        transition: transform .56s;
       } 

		.grid-1{
			grid-area: img1;
		}

		.grid-2{
			grid-area: img2;
		}

		.grid-3{
			grid-area: img3;
		}

		.grid-4{
			grid-area: img4;
		}

		.grid-5{
			grid-area: img5;
		}

		.grid-6{
			grid-area: img6;
		}

		.grid-7{
			grid-area: img7;
		}

		.grid-8{
			grid-area: img8;
		}

		.grid-9{
			grid-area: img9;
		}

		.grid-10{
			grid-area: img10;
		}

		.grid-text-colores{

		}

		.grid-text-colores{
			grid-area: text2;
			margin: auto;
		}

		.quienes-dedicamosp{
			margin:auto; font-size: 18px;
		}


		.quienes-somos{
			display:flex; 
			margin:auto; 
			max-width: 100%; 
			background: linear-gradient(to right, #654ea3, #eaafc8); 
			height:550px; 
			overflow:hidden;
		}
		

		.learn-more:hover, .learn-more-2:hover{
			background: white;
			color: #000000ba;
			transition: background-color 0.9s ;
			
		}

		@keyframes mover{
			0%{
				transform: translateY(50%);
			}

			100%{
				transform: translateY(0%);
			}}



		@media (max-width: 1029px){

				.grid-text-colores{
					display: none;
				}

			header{
		height: 360px;
		display: none;
	}

	.text{
		margin-left: 130px;
		grid-area: text;
	}

	.background-header{
		display: none;
	}


	.menu{
		display: none;
	}

	h1{
		font-size: 40px;
	}

	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10{
			background: #32e11c;
			margin: auto;
			height:250px; 
			width: 175px;
			border-radius: 9px;
	        box-shadow: 0px 1px 3.55555px black;
	        background: transparent;
	        display: grid;
	        overflow: hidden;
		}

		.grid-7, .grid-8, .grid-9, .grid-10{
			display: none;
		}

		.img-grid{
			margin-top: -20px;
			width: 215px;
			object-fit: contain;
		}

		.img-grid1{
		width: 240px; position: relative; left: -13.9%; top: -30px; margin-bottom: -25px;
	}

		.img-grid3{
		width: 240px; position: relative; left: -14.5%; top: 40px; margin-bottom: 55px;
	}
		.img-grid4{
		width: 245px; left: -17%; top: 10px; margin-bottom: -20px;
	}

	.img-grid5{
		width:175px; left: 2.5%; top: 40px; margin-bottom: 50px;
	}


		.grid-text{
			top: -17px;
			left: 1.9em;
		}

		.D-2{
			margin: 20px;
			max-width: 85%;
			height: 800px;
			display: grid;
			grid-template-areas: 
			". text . "
			"img1 img2 img3"
			"img1 img2 img3"
			"img1 img2 img3"
			"img4 img5 img6"
			"img4 img5 img6"
			"img4 img5 img6"
			;
			grid-gap: 50px 1px;}

			.grid-text{
				font-size: 25px; 
				font-weight:500; 
				position: relative; 
				margin: -15px;
			}
		}



	
	  @media  (max-width: 677px){

	  	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10{
			background: #32e11c;
			margin: auto;
			height:190px; 
			width: 135px;
			border-radius: 9px;
	        box-shadow: 0px 1px 3.55555px black;
	        background: transparent;
	        display: grid;
	        overflow: hidden;
		}

		
		.grid-7, .grid-8, .grid-9, .grid-10{
			display: none;
		}

		


	  	.D-2{
			margin: auto;
			max-width: 80%;
			height: 650px;
			display: grid;
			grid-template-areas: 
			". text . "
			" img1 img2 img3"
			" img1 img2 img3"
			" img1 img2 img3 "
			" img4 img5 img6"
			" img4 img5 img6"
			" img4 img5 img6"
			;
			grid-gap: 15px;
		}	 

		.img-grid{
			width: 150px;
		} 

		.img-grid3{
		width: 180px; position: relative; left: -9.5%; top: 40px; margin-bottom: 65px;
	}

	.img-grid1{
		width: 150px; left: -8%; top: 6px; margin-bottom: 10px;
	}

	.img-grid4{
		width: 200px; left: -15%; top: 7px; margin-bottom: 2px;
	}



		.img-grid5{
		width:135px; left: 2.5%; top: 35px; margin-bottom: 65px;
	}

		.grid-text{
			position: relative; left: 1.1em;
		}


		.grid-text-xiaomi{
		position: relative; left: 1.5em;
	}

	.grid-text-realme{
			position: relative; left: 1.6em;
		}

	}

	@media (max-width: 543px){

			.D-2{
			margin: auto;
			max-width: 80%;
			height:800px;
			display: grid;
			grid-template-areas: 
			"text text "
			" img1 img2"
			" img1 img2"
			" img1 img2"
			" img3 img4"
			" img3 img4"
			" img3 img4"
			" img5 img6"
			" img5 img6"
			" img5 img6"
			;
			grid-gap: 15px;
		}

		.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10{
			background: #32e11c;
			margin: auto;
			height:190px; 
			width: 135px;
			border-radius: 9px;
	        box-shadow: 0px 1px 3.55555px black;
	        background: transparent;
	        display: grid;
	        overflow: hidden;
		}

		.grid-7, .grid-8, .grid-9, .grid-10{
			display: none;
		}

		.mobile-header{
			
		}


	}		
		@media (max-width: 550px){

				h1{
					font-size: 20px;
				}

				main{
					margin-bottom: 90px;
				}

			}


		@media (min-width: 550px){

			h1{
				font-size: 30px;
			}

			.mobile-button{
				height: 45px;
			}

	}

	@media(min-width: 660px){
			h1{
				font-size: 43px;
			}

			
	}

		@media (min-width: 660px){
      		.img-mobile {
     		height: 400px;
	}
}

		main{
			display: none;
			
		}

	@media (max-width: 1029px){
			main{
		height: 360px;
		display: block;
		margin-bottom: 400px;}

		.quienes-dedicamos{
				font-size: 40px;
		}

		.quienes-dedicamosp{
			font-size: 15.2px;
		}
	}

	@media (max-width: 562px){
			main{
				margin-bottom: 100px;
			}

			.text-footer{
				font-size: 15px;
				font-weight: 100;
			}

			.quienes-dedicamos{
				font-size: 30px;
		}

		.quienes-dedicamosp{
			font-size: 14.7px;
		}

		.quienes-somos{
			height: 680px;
		}
	}

	@media (max-width: 361px){
			.D-2{
			margin: auto;
			max-width: 80%;
			height:900px;
			display: grid;
			grid-template-areas: 
			"text"
			"text"
			" img1"
			" img1"
			" img1"
			" img2"
			" img2"
			" img2"
			" img3"
			" img3"
			" img3"
			;}

			.div-grid{
			background: #32e11c;
			margin: auto;
			height:220px; 
			width: 165px;
			border-radius: 9px;
	        box-shadow: 0px 1px 3.55555px black;
	        background: transparent;
	        display: grid;
	        overflow: hidden;
		}

		.grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10{
			display: none;
		}

		.img-grid{
			width: 200px;
			top: -10px;
		}

		.img-grid3{
		width: 200px; position: relative; left: -9.5%; top: 45px; margin-bottom: 65px;
	}

		.grid-text{
			left: 1.4em;
		}

		#fundas{
			font-size: 25px;
			margin-bottom: 20px;
		}
	}
